body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


#buttons-container{
    width: 98%;
    height: 20%;
    margin-top: 0.5%;
}

#b-container{
    width: 98%;
    height: 30%;
    margin-top: 1%;
}

.form-control{
    width: 30%;
}

#segment-container{
    width: 98%;
    height: 280px;
    margin-top: -1%;
    border:2px solid black;
    border-right-style: outset;
    background-color: rgb(35, 36, 37);
    opacity: 0.85;
}

#scroll-seg{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 99%;
    height: 234px;
    margin-left: 1%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    color:rgb(228, 228, 228);
}

#deleted-segment-container{
    width: 98%;
    height: 280px;
    margin-bottom:1.5%;
    border:2px solid black;
    border-right-style: outset;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(35, 36, 37);
    opacity: 0.85;
}

#scroll-del-seg{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 99%;
    height: 234px;
    margin-left: 1%;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
    color:rgb(228, 228, 228);
}

.title_file{
    width: 100%;
    height: 32px;
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.title{
    width: 100%;
    height: 30px;
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color:rgb(228, 228, 228);
}

.title-rule{
    width: 100%;
    height: 30px;
    margin-left: 1%;
    margin-top: 3.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color:rgb(35, 36, 37);
}

.sub-title{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(35, 36, 37);
}

#new_rule{
    width: 100%;
    height: 45%;
    justify-content: center;
    background-color: rgb(225, 236, 248);
    opacity: 0.85;
    margin-top: 4%;
    border-radius: 4px;
}

.combobox{
    width: 60%;
    height: 20%;
    margin-top: 2%;
    margin-left:20%;
    justify-content: center;
}

#button-apply{
    margin-left: 38%;
    margin-top: 8%;

}

#ruleId{
    height: 290px;
    overflow-y: auto;
    overflow-x: auto;
    white-space: nowrap;
}

#rules{
    height: 50%;
    background-color: rgb(225, 236, 248);
    opacity: 0.85;
    margin-top: 5%;
    border-radius: 4px;
}

.showDiv{
    width: 250px;
    height: 350px;
    border:2px solid black;
    border-right-style: outset; 
    background-color:rgb(225, 236, 248);
    opacity: 0.92;
    position: absolute;
    z-index: 3;
    top: 250px;
    left: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.showInfo{
    width: 20%;
    height: 30%;
    border:2px solid rgb(149, 172, 247);
    background-color:rgb(180, 210, 241);
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 40px;
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0;
    margin-left: 2%;
}

#divSegBtn{
    float: right;
    margin-top: 2px;
    margin-right: 1.5px;
}

#infoBtn{
    float: right;
    margin-top: 0.5px;
    margin-right: 1.5px;
}

.alert{
    position: absolute;
    z-index: 3;
    justify-content:center;
}


.table-hover tbody tr:hover td{
    background-color: rgb(3, 160, 165);
    opacity: 0.8;
}

.col-occ { 
    width: 12%; 
}

.col-seg{
    width: auto;
}

#groupConstraints{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

#nameConstraint{
    font-style: oblique;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 15px;

}

#examples{
    margin-top: 10px;
    margin-left: 8px;
    font-size: 14px;
}

#explanation{
    font-style: normal;
    margin-left: 5px;
    font-size: 14px;
}
