body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


#buttons-container{
    width: 98%;
    height: 20%;
    margin-top: 0.5%;
}

#b-container{
    width: 98%;
    height: 30%;
    margin-top: 1%;
}

.form-control{
    width: 30%;
}

#segment-container{
    width: 98%;
    height: 280px;
    margin-top: -1%;
    border:2px solid black;
    border-right-style: outset;
    background-color: rgb(35, 36, 37);
    opacity: 0.85;
}

#scroll-seg{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 99%;
    height: 230px;
    margin-left: 1%;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    color:rgb(228, 228, 228);
}

#deleted-segment-container{
    width: 98%;
    height: 280px;
    margin-bottom:1.5%;
    border:2px solid black;
    border-right-style: outset;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(35, 36, 37);
    opacity: 0.85;
}

#scroll-del-seg{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 99%;
    height: 230px;
    margin-left: 1%;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    color:rgb(228, 228, 228);
}

.title_file{
    width: 100%;
    height: 32px;
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.title{
    width: 100%;
    height: 30px;
    margin-left: 1%;
    margin-top: 1.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color:rgb(228, 228, 228);
}

.title-rule{
    width: 100%;
    height: 30px;
    margin-left: 1%;
    margin-top: 3.5%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    color:rgb(35, 36, 37);
}

.sub-title{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:rgb(35, 36, 37);
}

#new_rule{
    width: 100%;
    height: 45%;
    justify-content: center;
    background-color: rgb(225, 236, 248);
    opacity: 0.85;
    margin-top: 4%;
    border-radius: 4px;
}

.combobox{
    width: 60%;
    height: 20%;
    margin-top: 2%;
    margin-left:20%;
    justify-content: center;
}

#button-apply{
    margin-left: 38%;
    margin-top: 8%;

}

#division{
    border-bottom: 2px solid #000;
    margin-top: 16%;
    margin-left: -10%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#ruleId{
    height: 290px;
    overflow-y: scroll;
}

#rules{
    height: 50%;
    background-color: rgb(225, 236, 248);
    opacity: 0.85;
    margin-top: 5%;
    border-radius: 4px;
}

.showDiv{
    width: 20%;
    height: 50%;
    border:2px solid black;
    border-right-style: outset; 
    background-color:rgb(225, 236, 248);
    opacity: 0.92;
    position: absolute;
    z-index: 3;
    top: 150px;
    left: 250px;
}

.hideAll:hover{
    background: rgb(3, 160, 165);
    opacity: 0.8;
}

ul.no-bullets {
    list-style-type: none; 
    padding: 0;
    margin-left: 2%;
}

#divSegBtn{
    float: right;
    margin-top: 2px;
    margin-right: 2px;
}