<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/css/style.css">
    
     
</head>
<body style="background-image: url('static/css/sfondo.jpg');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div id="buttons-container">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post" enctype="multipart/form-data" id="formId">                                
                                <div class="input-group mb-3" lang="en">
                                    <input class="form-control" id="formFile"  type="file" name="file" autocomplete="off" required>
                                    <button type="submit" class="btn btn-success" id="uploadBtn">
                                        UPLOAD &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                        </svg></button>
                                </div>
                            </form>
                            <div id="b-container">
                                <button type="button" class="btn btn-primary" onclick="hideShow();" id="hideShowBtn" value="Hide" disabled>HIDE</button>
                                <button type="button" class="btn btn-secondary" onclick="clearDiv();" id="clearBtn" disabled>CLEAR</button>
                                <button type="button" class="btn btn-success" onclick="exportFile();" id="exportBtn" download disabled>
                                    EXPORT &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                      </svg></button>
                                <button id="sortBtn" type="button" class="btn btn-primary" value="decrescent" onclick="changeSort();" disabled>
                                    DESCRESCENT &nbsp;<svg id="rowBtn" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                                      </svg></button>  
                                       
                            </div>
                            <div class="title_file" id="name">File: 
                                {{nameFile}}
                            </div> 
                        </div>
                        <div class="col-md-6" height="10px">
                            <div class="alert alert-info alert-dismissible fade show" id="info_clear" style="display:none" role="alert">
                                <strong>Info!</strong> Select a new XES file to analyze.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_info_clear();"></button>
                            </div>
                            <div class="alert alert-info alert-dismissible fade show" id="download_info" style="display:none" role="alert">
                                <strong>Info!</strong> Downloading file...
                                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_download_info();"></button>
                            </div> 
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} alert-dismissible fade show" id="error_flash">
                                            <span>{{ message }}</span>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_flash();"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %} 
                        </div>      
                    </div>
                </div>
                <div id="segment-container">
                    <div class="title" style="margin-top:1%">Segments' list</div> 
                    <div id="scroll-seg" class="Divtext">
                        <table class="table table-hover table-dark table" >
                            <thead id="table-seg">
                                <tr><th class="col-occ">Occurrence</th><th class="col-seg">Segment</th></tr>
                            </thead>
                            <tbody id="table-seg-body">
                                {% for item in segments %}
                                    <tr><td>{{item[0]}}</td>
                                        <td>{% for elem in item[1:] %}
                                                {%if not loop.last %} {{elem}}&#44; 
                                                {%else%} {{elem}}
                                                {%endif%}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="divSeg" class="showDiv" style="display:none"></div>
                    
                <div id="deleted-segment-container">
                    <div class="title" style="margin-top:1%">Not accepted segments' list</div>
                    <div id="scroll-del-seg" class="DivtextDel">
                        <table class="table table-hover table-dark">
                            <thead id="table-del-seg">
                                <tr><th class="col-occ">Occurrence</th><th class="col-seg">Segment</th></tr>
                            </thead>
                            <tbody id="table-del-seg-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="divInfo" class="showInfo" style="display:none">
                    <button class="btn-close" id="infoBtn" onclick="close_infoBtn()"></button>
                    <div id="groupConstraints"></div>
                    <div id="nameConstraint"></div>
                    <div id="explanation"></div>
                    <div id="examples"></div>
                    <div style="inline-block">
                        <div id="rightExample1" style="float:left; margin-left:8px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            <div id="re1" style="float:right;"></div>
                        </div>
                        <div id="rightExample2" style="float:left; margin-left:20px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                            </svg>
                            <div id="re2" style="float:right;"></div>
                        </div>
                    </div>    
                    <div style="inline-block; margin-top:8%">
                        <div id="wrongExample1" style="float:left;margin-left:8px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <div id="we1" style="float:right;"></div>
                        </div>
                        <div id="wrongExample2" style="float:left; margin-left:20px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                            <div id="we2" style="float:right;"></div>
                        </div> 
                    </div>    
                </div>
                <div id="new_rule">
                    <div class="title-rule" style="text-align:center">Add new constraint</div>
                    <div id="first-combobox" class="combobox">
                        <div class="sub-title">Select constraint
                            <button id="infoId" onclick ="showInfo();" disabled><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                            </svg></button>
                        </div>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="selectFun" onclick="selectFunction();" disabled>                          
                            <option value="Start">Start(a)</option>
                            <option value="End">End(a)</option>
                            <option value="Existence">Existence(a)</option>
                            <option value="Absence">Absence(a)</option>
                            <option value="Choice">Choice(a,b)</option>
                            <option value="ExclusiveChoice">ExclusiveChoice(a,b)</option>
                            <option value="RespondedExistence">RespondedExistence(a,b)</option>
                            <option value="Response">Response(a,b)</option>
                            <option value="AlternateResponse">AlternateResponse(a,b)</option>
                            <option value="ChainResponse">ChainResponse(a,b)</option>
                            <option value="Precedence">Precedence(a,b)</option>
                            <option value="AlternatePrecedence">AlternatePrecedence(a,b)</option>
                            <option value="ChainPrecedence">ChainPrecedence(a,b)</option>
                            <option value="CoExistence">CoExistence(a,b)</option>
                            <option value="Succession">Succession(a,b)</option>
                            <option value="AlternateSuccession">AlternateSuccession(a,b)</option>
                            <option value="ChainSuccession">ChainSuccession(a,b)</option>
                            <option value="NotCoExistence">NotCoExistence(a,b)</option>
                            <option value="NotSuccession">NotSuccession(a,b)</option>
                            <option value="NotChainSuccession">NotChainSuccession(a,b)</option>
                        </select>
                    </div>
                    <div id="second-combobox" class="combobox">
                        <div class="sub-title">Select activity 1</div>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="act1" disabled>
                            {% for act in activity %}
                                <option>{{ act }}</option>   
                            {% endfor %}
                        </select>
                    </div>
                    <div id="third-combobox" class="combobox">
                        <div class="sub-title">Select activity 2</div>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="act2" disabled>
                            {% for act in activity %}
                                <option>{{ act }}</option>   
                            {% endfor %}
                        </select>
                        <button id="button-apply" type="button" class="btn btn-dark" style="justify-content:center;" onclick="takeFunction();" disabled>APPLY</button>
                    </div>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" id="error_adding_rule" style="display:none" role="alert">
                    <strong>Error!</strong> It is not possible to use the same activity twice.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_error_adding_rule();"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" id="error_duplicate_rule" style="display:none" role="alert">
                    <strong>Error!</strong> The rule already exists.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_error_duplicate_rule();"></button>
                </div>
                <div class="alert alert-danger alert-dismissible fade show" id="error_opposite_rule" style="display:none" role="alert">
                    <strong>Error!</strong> The rule is in contrast with an existing one.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_error_opposite_rule();"></button>
                </div>
                <div id="rules">
                    <div class="title-rule" style="text-align:center">List of constraints</div>
                    <button type="button" class="btn btn-danger btn btn-default" float="right" style="margin-left:85%; margin-top:-12%; display: inline-block" data-toggle="confirmation" data-placement="bottom"
                    onclick="deleteBtn();" id="deleteBtnId" disabled><label><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                      </svg></label></button>
                    <div class="alert alert-danger alert-dismissible fade show" id="error_no_rule" style="display:none" role="alert">
                        <strong>Error!</strong> There are no rules to delete.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_error_no_rule();"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" id="error_no_check_rule" style="display:none" role="alert">
                        <strong>Error!</strong> Select the rule to delete.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="close_error_no_check_rule();"></button>
                    </div> 
                    <ul class="divRule no-bullets" id="ruleId"></ul>  
                </div>
            </div>
        </div>
    </div>  
    <script src="{{ url_for('static', filename="js/index.js") }}"></script>
</body>
</html>